/*  Begin CSS Code File
    ALL CODE WRITTEN BY CYMBERLY TSAI AND VI COVRLJAN UNLESS OTHERWISE STATED
*/

body {
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    height: -webkit-fill-available;
}

.screen {
    display: none;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: -webkit-fill-available;
}

.content {
    grid-area: 1 / 1 / 4 / 5;
    background: black;
}

#choices {
    grid-area: 1 / 4 / 4 / 5;
}

#text {
    grid-area: 4 / 1 / 5 / 5;
    background-color: #ffe3e2;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@keyframes fade{
    100% { filter: brightness(0);}
}

@keyframes pulse {
    50% { transform: scale(1.2);}
}

.pulsing {
    animation: pulse 1.5s infinite;
}

/* typing animation */
.type-anim {
    display: block;
    font-family: monospace;
    width: 0;
    height: fit-content;
    animation: typing var(--duration) steps(var(--length)) forwards;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 130%;
    text-align: center;
    margin: 0;
    padding: 0;
}

@keyframes typing {
    from { 
        width: 0;
    }
    to { 
        width: calc(var(--length) * 1ch);
    }
}

/* button element styles adapted from Uiverse.io by Madflows */
button{
    font-weight: 600;
    color: #382b22;
    font-family: monospace;
    font-size: 100%;
    width: -webkit-fill-available;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    margin: 20px;
}
button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
    cursor: cell;
}
button:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}
button:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}
button:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

/*Background animation adapted by Vivin Antony from CodePen*/
.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.heart {
    position: absolute;
    z-index: 0;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}
.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}
@-webkit-keyframes love {0%{top:110%}}
@-moz-keyframes love {0%{top:110%}}
@-ms-keyframes love {0%{top:110%}}
@keyframes love {0%{top:110%}}
/* end of adapted code */
